.slider {
  width: 100%;
  height: calc(100dvh - 4rem);
  position: absolute;
  top: -100dvh;
  transition: top 0.5s ease;
  z-index: 9;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider .slider_buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  text-decoration: none;
  color: black;
  font-size: small;
}

.slider .slider_buttons svg:last-child {
  margin-left: auto;
}
