{% extends 'index.html' %} {% block main %}
<main class="book_tickets_main">
  <p class="order_summary_title">ORDER SUMMARY</p>
  <div class="order_summary_details">
    <div class="ticket_details">
      <p>{{ ticket_details.event_name }}</p>
      <p>{{ ticket_details.event_venue_name }}</p>
      <p>{{ ticket_details.event_date }}</p>
      <p>{{ ticket_details.event_time }}</p>
    </div>
    <div class="ticket_count">
      <div>
        <button
          class="ticket_minus"
          onclick="ticket_count({'status':'NEGATIVE','total_tickets':'{{ ticket_details.event_number_of_tickets }}','ticket_price':'{{ ticket_details.event_ticket_price}}'})"
        >
          -
        </button>
        <p id="ticket_count">1</p>
        <button
          class="ticket_add"
          onclick="ticket_count({'status':'POSITIVE','total_tickets':'{{ ticket_details.event_number_of_tickets }}','ticket_price':'{{ ticket_details.event_ticket_price}}'})"
        >
          +
        </button>
      </div>
      <p>Tickets</p>
    </div>
  </div>
  <div class="amount_payable">
    <p>Amount Payable</p>
    <p id="ticket_price">{{ ticket_details.event_ticket_price }}</p>
  </div>

  <!-- Payment part for demo purposes only -->

  <div class="payment_details">
    <p class="payment_details_title">Enter your Card details</p>
    <!-- 'return false is used to prevent the page reload' -->
    <form
      onsubmit="make_payment(event,'{{ticket_details.id}}')"
      id="payment_form"
    >
      <label>Card number</label>
      <input type="number" placeholder="Enter your card number" required />
      <input type="text" placeholder="Name on the card" required />
      <div class="payment_sub_form">
        <label>Expiry</label>
        <div>
          <input type="number" placeholder="MM" required />
          <input type="number" placeholder="YY" required />
        </div>
        <label>CVV</label>
        <input type="password" placeholder="CVV" required />
      </div>
      <input type="submit" value="MAKE PAYMENT" class="payment_button" />
      <p class="warning_text">
        This is used for a demo purpose, So don't give your correct card details
      </p>
    </form>
  </div>
</main>
{% endblock %}
