{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/book_now.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_events.css' %}" />
    <link rel="stylesheet" href="{% static 'css/book_tickets.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tickets_booked.css' %}" />
  </head>
  <body>
    {% include 'nav_bar.html' %} {% block main %}
    <main id="main" class="main">
      <div class="carousel" id="carousel">
        {% if events|length > 5 %} 
        <!--Display the image if there is more than 5 image-->
           {% for event in events|random|slice:":5" %}
           <a href="{% url page_url id=event.id %}" >
            <img src="{{ event.event_image_url }}" />
           </a>
           {% endfor %}
        {% else %}
        <!--Display the image if there is only 5 image-->
          {% for event in events %}
            <a href="{% url page_url id=event.id %}" >
              <img src="{{ event.event_image_url }}" />
            </a>
          {% endfor %}
        {% endif %}
      </div>
      {% include 'search_bar.html'%}
      <div class="cards-list">
        {% for event in events %}
        <!-- To Show Events -->
        <div class="card">
          <a href="{% url page_url id=event.id %}">
            <img src="{{ event.event_image_url }}" class="poster" />
            <p class="date_time">{{ event.event_date }}</p>
            <p class="org_name">{{ event.event_name }}</p>
            <p class="location">{{ event.event_venue_name }}</p>
            <div class="interest">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-hand-thumbs-up-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"
                />
              </svg>
              {% if event.booked_tickets is not None  %}
              <p>{{ event.booked_tickets }}</p>
              {% else  %}
              <p>0</p>
              {% endif %}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </main>
    {% endblock %}
  </body>
  <script src="{% static 'js/index.js' async %}"></script>
</html>
